{
  "branches": [
    "main",
    {
      "name": "main",
      "prerelease": "rc"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "commitsSort": [
            "scope",
            "subject"
          ]
        },
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "✨ Features"
            },
            {
              "type": "fix",
              "section": "🐞 Bug Fixes"
            },
            {
              "type": "chore",
              "section": "⚙️ Chores"
            },
            {
              "type": "ci",
              "section": "🤖 Continuous Integration"
            },
            {
              "type": "docs",
              "section": "📄 Documentation"
            },
            {
              "type": "style",
              "section": "🎨 Styles"
            },
            {
              "type": "refactor",
              "section": "🧹 Code Refactoring"
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "./CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "preset": "conventionalcommits"
}
